target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
### IntelliJ IDEA ###
.idea


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

HELP.md
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

.settings/

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

!jdk/jdk-8u172-linux-x64.tar.gz

**/src/main/**/build/
**/src/test/**/build/



### Other ####
FFDC/
mqjms.*
log/
logs
logs/*
*.log
*.log.*
!ceph-lib-app-1.0.0-jar-with-dependencies.jar
/LOG_PATH_IS_UNDEFINED/

/target/
/.idea/
/.smarttomcat/
/.SmartTomcat/
/*.iml